%h1 
  Listings for
  = @item_name

.row-fluid
  .span12
    .span2 Name
    .span2 Type
    .span2 Owner

  - @items.each do |item|
    .span12
      .span2= item.name
      .span2= item.item_type.name
      .span2= item.user.first_name + " " + item.user.last_name
      .span2= link_to 'View Details', user_item_path(current_user, item)
