%h1 Your Requests

%br

- if(@awaiting.length != 0)
  
  %h3 New Requests

  .row-fluid
    .span12
      .span2 Item
      .span2 Requester
      .span2 From
      .span2 To
      .span2 Response

    - @awaiting.each do |r|
      .span12
        .span2= r.item.name
        .span2= @requesters[@index].first_name + " " + @requesters[@index].last_name
        - @index += 1
        .span2= r.start_date
        .span2= r.return_date
        .span1{:align => "right"}  
          = link_to 'Approve', user_request_approve_path(current_user, r), :method => :get, 
            :data => { :confirm => "Are you sure you want to approve this request? \n" + r.item.name + " From: " + r.start_date + " To: " + r.return_date }
 
        .span1{:align => "left"}  
          = link_to 'Deny', user_request_deny_path(current_user, r), :method => :get, 
            :data => { :confirm => "Are you sure you want to deny this request? \n" + r.item.name + " From: " + r.start_date + " To: " + r.return_date }
- else
  %h4 No new requests!


- @index = 0

- if (@responded.length != 0)  

  %h3 Responded Requests

  .row-fluid
    .span12
      .span2 Item
      .span2 Requester
      .span2 From
      .span2 To
      .span2 Status

    - @responded.each do |r|
      .span12
        .span2= r.item.name
        .span2= @requesters[@index].first_name + " " + @requesters[@index].last_name
        - @index += 1
        .span2= r.start_date
        .span2= r.return_date
        .span2
          - if(r.approved)
            Approved
          - else
            Denied

- if(@your_requests.length != 0)
  %h3 Requests You've Made

  .row-fluid
    .span12
      .span2 Item
      .span2 Requested From
      .span2 From
      .span2 To
      .span2 Status

    - @your_requests.each do |yr|
      .span12
        .span2= yr.item.name
        .span2= yr.user.first_name + " " + yr.user.last_name
        .span2= yr.start_date
        .span2= yr.return_date
        .span2
          - if(yr.approved != nil)
            - if(yr.approved == true)
              .approved
                Request Approved!
            - else
              .denied
                Denied. =(
          - else
            Awaiting Response
        .span2= link_to 'Remove', user_request_path(current_user, yr), :method => :delete,
                    :data => { :confirm => "Are you sure you want to remove this request? \n" + yr.item.name + " From: " + yr.start_date + " To: " + yr.return_date }