%p#notice= notice

%table
  %tr
    %th
    %th Name:
    %th Owner:
  
  %tr
    %td 
      - if(@item.image?)
        = link_to image_tag(@item.image.thumb), @item.image.url, :style => "border: none;" 
    %td
      = @item.name
    %td
      = @item.user.first_name + " " + @item.user.last_name

- if(@item.user != current_user)
  %hr
  %h3
    Request this item from 
    = @item.user.first_name + "!"

  = render 'request_form'

