.row-fluid
  .span12
    .span1
    .span2 Name:
    .span2 Owner:

.row-fluid
  .span12
    .span1
      - if(@item.image?)
        = link_to image_tag(@item.image.thumb), @item.image.url, :style => "border: none;" 
    .span2= @item.name
    .span2= @item.user.first_name + " " + @item.user.last_name

- if(@item.user != current_user)
  %hr
  %h3
    Request this item from 
    = @item.user.first_name + "!"

  = render 'request_form'

